


<section class="footer">
    <div class="footer-container">
        <!-- <h4>Fakeflix</h4> -->
         <h4><img src="assets/images/fakeflix-logo.png" alt=""></h4>
         <div class="social-icons">
           <a href="https://www.instagram.com/glo_maggioni/"><fa-icon  [icon]="faInstagram"  size="2x" ></fa-icon></a>
           <a href="https://github.com/GloriaMaggioni"> <fa-icon  [icon]="faGithub"  size="2x" ></fa-icon></a>
            <a href="https://www.linkedin.com/in/gloria-maggioni-154474151/"> <fa-icon  [icon]="faLinkedin"  size="2x" ></fa-icon></a> 
        </div>
        <div class="programmer">
           <a href=""> <fa-icon [icon]="faAt" ></fa-icon> Gloria Maggioni 2025</a>
        </div>
    </div>
</section>





<script src="https://kit.fontawesome.com/e4a313fa94.js" crossorigin="anonymous"></script>

