<link rel="stylesheet" href="/src/assets/fonts/segoe-ui/Segoe UI Black.ttf">
<link rel="stylesheet" href="/src/assets/fonts/segoe-ui/Segoe UI.ttf">

<div class="sign-up-page">
    <app-nav-bar></app-nav-bar>
    <!-- <div class="title-components">
      <div class="title">
        <h1>Film, serie tv e tanto altro, senza limiti</h1>
        <p class="abb-text">A partire da 6,99 euro. Disdici quando vuoi</p>
        <p class="title-p2">Vuoi guardare Fakeflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento</p>
        <div class="email-submitBtn">
          <input type="email" placeholder="Inserisci la tua email"><button>CLick me</button>
  
        </div>
      </div>

    </div> -->
    <div class="title-components">
      <div class="title">
        <h1>Film, serie tv e tanto altro, senza limiti</h1>
        <p class="abb-text">A partire da 6,99 euro. Disdici quando vuoi</p>
        <p class="title-p2">Vuoi guardare Fakeflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento</p>
        <div class="email-submitBtn">
          <input type="email" placeholder="Inserisci la tua email"><button>CLick me</button>
         </div>
      </div>
    </div>
   
   

</div>

