<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet">
<app-title-page></app-title-page>

<!-- INIZIO SEZIONE PUBBLICITA -->

   <section class="sezione-pubblicità">
     <div class="pubb-container">
        <div class="pub-icon">
            <img src="assets/images/popcorn.png" alt="">
        </div>
        <div class="pub-contents">
            <div class="pub-text">
                <p class="main-text">Tutto ciò che ami su Fakeflix a soli 9,99 euro.</p> 
                <p class="sub-text">Approfitta del nostro piano base con pubblicità: è la più conveniente.</p>
            </div>
            <div class="pub-btn-section">
                <button class="pub-button">Scopri di più</button>
            </div>
        </div>
       
      </div> 
   </section>

 <!-- INIZIO SEZIONE PUBBLICITA -->

 <!-- INIZIO SEZIONE TITOLI DEL MOMENTO -->

 <section class="titoliDelMomento">
    <div class="titoliDelMomento-container">
        <h2 class="titoliDelMomento-title">I titoli del momento</h2>
        <div class="titoliDelMomento-contents">
            <div class="titoliDelMoment-btn">
                <div class="btn-left-container">             
                    <button class="btn-left"(click)='btnLeft()'>&lt;</button>
                </div>
                <div class="btn-right-container">
                    <button class="btn-right">&gt;</button>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <p class="card-number">1</p>
                    <img src="assets/images/adolescence.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">2</p>
                    <img src="assets/images/il-ragazzo-dai-pantaloni-rosa.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">3</p>
                    <img src="assets/images/il-gattopardo.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">4</p>
                    <img src="assets/images/squid-game.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">5</p>
                    <img src="assets/images/enola-holmes.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">6</p>
                    <img src="assets/images/pulse.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">7</p>
                    <img src="assets/images/the-rookie.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">8</p>
                    <img src="assets/images/la-lista-dei-miei-desideri.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">9</p>
                    <img src="assets/images/the-electric-state.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <p class="card-number">10</p>
                    <img src="assets/images/banger.jpg" alt="">
                </div>
            </div>   
        </div>
           
            
    </div>
 </section>
  <!-- FINE SEZIONE TITOLI DEL MOMENTO -->

  <!-- INIZIO SEZIONE MORE REASONS TO JOIN -->
  <!-- FINE SEZIONE MORE REASONS TO JOIN -->

  <!-- INIZIO SEZIONE DOMANDE -->
   <!-- FINE SEZIONE DOMANDE -->

   <!-- INPUT EMAIL -->

   <app-footer></app-footer>