

.sign-up-page{
    border: 1px solid green;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/images/homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .title{
        border: 1px solid purple;
        width: 80%;
       color: #ffffff
    }
    
  
}