

<div class="title-page">
   <app-nav-bar></app-nav-bar> 
   <!-- INIZIO TITLE SECTION -->
    <div class="title-components">
      <div class="title">
        <h1>Film, serie tv e tanto altro, senza limiti</h1>
      </div>
      <p class="sotto-testo">Vuoi guardare Fakeflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento</p>
      <div class="email-submitBtn">
          <div class="email-input">
            <div class="input-group">
              <input  type="email" placeholder="">
            <label class="placeholder">Inserisci email</label>
            </div>
          </div>
          <button (click)="goToHomePage()" > Inizia </button> 
      </div>
    </div>

