.nav-bar {
    width: 100%;
    border: 1px solid red;
    display: inline-flex;
    flex-direction: row;
     align-items: center;
     justify-content: center;

     button{
        border: 1px solid blue;
     }
   
 }
  