<div class="login-page">
    <div class="nav-bar-logo"><img src="assets/images/fakeflix-logo.png" alt="" (click)="goToSignUpPage()">
     </div>
    
     <!-- FORM -->

     <div class="form">
        <div class="form-contents">
            <h2 class="form-title">Welcome</h2>
            <input type="email"  name="email" class="email-input"  placeholder="Email">
            <input type="password" name="password" class="password-input" placeholder="Passord" required>
            <button type="submit" class="form-btn">Accedi</button>
            <p class="form-letter">OPPURE</p>
            <button type="submit" class="form-registerBtn">Registrati</button>
            <div class="form-checkbox">
                 <input type="checkbox" class="form-checkbox">
                 <label for="ricordami">Ricordami</label>
            </div>
        </div>
    

     </div>
    
</div>

